*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif ;
}

.clear {
    clear: both;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

html, body {
    height: 100%;
}

header {
    padding: 20px 2%;
}

header .logo {
    float: left;
    width: 236px;
}

header nav {
    float: right;
}

header nav ul {
    padding: 8px 0;
    list-style-type: none;
}

header nav ul li {
    float: left;
    font-size: 13px;
    padding: 0 20px;
    text-transform: uppercase;
}

header ul a {
    color: #b4b4b4;
    text-decoration: none;
}


